.B-card {
  border: 1px solid rgb(171, 154, 154);
  width: 94%;
  width: 350px;
  text-align: center;
  box-shadow: -2px 5px 5px 3px hsl(0, 4%, 67%);
  padding: 1rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 16px;
  margin-bottom: 1rem;

  transition: transform 0.2s ease-in-out;
}

.B-card:hover {
  transform: scale(1.02);
}

.B-card-img {
  height: 200px;
  min-width: 100%;

  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.B-card-img img {
  width: 100%;
  height: 200px;
}

.b-tag {
  margin-top: 2rem;
  color: rgb(77, 77, 225);
  font-size: large;
}

.book-now {
  border: 1px solid black;
  width: 90%;
  height: 40px;
  border-radius: 6px;
}

.forGap {
  display: flex;
}

.B-package {
  font-size: small;
  padding: 2px;
  color: blue;
}
.book-now:hover {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(97, 106, 170, 1) 0%,
    rgba(185, 202, 219, 1) 0%,
    rgba(0, 207, 255, 1) 75%
  );
}
