.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(97, 106, 170, 1) 0%,
    rgba(185, 202, 219, 1) 0%,
    rgba(0, 207, 255, 1) 75%
  );
}

.register-form {
  padding: 3rem 4rem;
  border-radius: 8px;

}

.register-input {
  width: 250px;
  margin-bottom: 1rem;
}

.register-title {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
}

.signup-button {
  background-color: rgba(32, 145, 32);
  padding: 0.4rem;
  width: 100%;
  margin-top: 2rem;
  font-weight: bolder;
  border-radius: 3px;
}

.signup-button:hover {
  font-size: large;
  background: green;
  background-image: linear-gradient(
    270deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0) 50%,
    #7497ba 0,
    #0c4a86
  );
  background-position: 100% 0;
  background-size: 200% 100%;
  -webkit-transition: all 0.4s ease-in;
  -o-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  border: 1px solid #fff;
  border-radius: 5px;
  font-family: open_sanslight, sans-serif;

  color: #fff;
  cursor: pointer;
}

.reg-click-here {
  color: blue;
  text-decoration: underline;
  font-weight: 500;
}
