.BookBody {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .imgContainer {
    height: 52rem;
    width: 100%;
    background-image: url(src/assets/bookbg1.png);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 4rem;

    > .bookingContainer {
      height: 250px;
      width: 80%;
      margin-bottom: 4rem;
      position: relative;
      border-radius: 1rem;
      box-shadow: 0px 0px 5px 1px rgb(143, 136, 136);

      > .flight {
        background-color: aliceblue;
        height: 4rem;
        width: 14%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        > svg {
          position: absolute;
          left: 30px;
          font-size: large;
        }
      }

      > form {
        background-color: white;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 1rem;

        > .options {
          margin: 0 2rem;
          border: none;
          display: flex;

          > select {
            padding: 1rem 2rem;
            font-size: small;
            font-weight: 700;
          }
          > .passenger {
            display: flex;
            align-items: center;
            padding: 1rem 2rem;
            font-size: small;
            font-weight: 700;
            >button{
              > svg {
                margin-left: 1.4rem;
                font-size: larger;
              }
            }
            
          }
        }

        > .otherOptions {
          height: 100%;
          display: flex;
          justify-content: space-evenly;
          height: 8.3rem;
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
          align-items: center;

          > .source {
            width: 25%;
            padding: 1rem 2rem;
            font-size: small;
            height: 6rem;
            border: 0.3px solid rgb(155, 151, 145);
            border-radius: 1rem;

            > h2 {
              font-weight: 700;
            }

            > select {
              height: 80%;
              width: 100%;
              border: none;
            }
          }

          > button {
            > svg {
              font-size: x-large;
            }
          }
          > .destination {
            width: 25%;
            padding: 1rem 2rem;
            font-size: small;
            height: 6rem;
            border: 0.3px solid rgb(155, 151, 145);
            border-radius: 1rem;

            > h2 {
              font-weight: 700;
            }
            > select {
              height: 80%;
              width: 100%;
              border: none;
            }
          }
          > .dates {
            width: 30%;
            padding: 1rem 2rem;
            font-size: small;
            height: 6rem;
            margin-left: 5rem;
            display: flex;
            justify-content: space-around;
            border: 0.3px solid rgb(155, 151, 145);
            border-radius: 1rem;

            > .departure {
              width: 45%;
              > h2 {
                font-weight: 700;
              }
              > input {
                height: 80%;
                width: 100%;
                border: none;
              }
            }
            > .return {
              width: 45%;
              > h2 {
                font-weight: 700;
              }
              > input {
                height: 80%;
                width: 100%;
                border: none;
              }
            }
          }
        }
      }
    }
    > button {
      background-color: black;
      color: white;
      padding: 1rem 2rem;
      position: absolute;
      bottom: 6rem;
      right: 10.4rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      > svg {
        margin-left: 1rem;
      }
    }
  }

  > h2 {
    text-align: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
  }

  > .hero {
    height: 100vh;
    display: flex;
    width: 80%;
    display: flex;
    justify-content: space-evenly;

    > .one {
      height: 100%;
      width: 40%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      > p {
        font-family: "Times New Roman", Times, serif;
        font-size: 1.5rem;
      }
      > h1 {
        color: green;
        font-size: xx-large;
        font-weight: 900;
      }
      > h2 {
        font-size: x-large;
        font-weight: 500;
        padding: 3rem 0;
      }
    }
    > .two {
      width: 50%;
      display: flex;

      > .imgoneandtwo {
        height: 400px;
        min-width: 300px;

        margin: 6rem 1.2rem;
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
        > img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      > #imgtwo {
        position: relative;
        margin-top: 3rem;
      }

      > .imgthirdandforth {
        height: 400px;
        min-width: 300px;

        margin: 6rem 1.2rem;
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.5);
      }
      > #thirdimg {
        position: relative;
        right: 42.4rem;
        top: 28rem;
      }
      > #forthimg {
        position: relative;
        right: 42.4rem;
        top: 24rem;
      }
    }
  }
  > .h2 {
    margin-top: 10rem;
  }
}


.dropdown{
  color: white;
  height: 100px;
  position:absolute;
  background-color: red;
  z-index: 1;
  top: 7rem;
  width: 250px;
 border-radius: 5px;
 box-shadow: 0px 0px 5px 1px rgb(143, 136, 136);
 >h3{
  background-color: rgb(186, 186, 185);
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem 1rem;

  >button{
    >svg{
      margin-left: 1rem;
      font-size: larger;
    }
  }
 }
 >.adult{
  height: 50%;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  >p{
    font-size: larger;
    font-weight: 500;
    padding: 1rem;
  }
  >button{
    border: 1px solid black;
    padding: 0.2rem 1rem ;
  }

 }
 >.child{
  height: 50%;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  >p{
    font-size: larger;
    font-weight: 500;
    padding: 1rem;
  }
  >button{
    border: 1px solid black;
    padding: 0.2rem 1rem ;
  }
}
}
