

.B-card-sec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-left: 1rem;
  margin-right: 1rem;
  overflow-x: scroll;
  margin-bottom: 4rem;
}

@media screen and (max-width: 500px) {
  .B-card-sec,
  .B-card-sec2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 90%;
    margin: auto;
  }
}
